In [264]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [265]:
df_total = pd.read_excel("/Users/luddecmc/Desktop/SKOLARBETE-ITHS/repos/AI24-Databehandling/Data/komtopp50_2020.xlsx", sheet_name="Totalt")
df_male = pd.read_excel("/Users/luddecmc/Desktop/SKOLARBETE-ITHS/repos/AI24-Databehandling/Data/komtopp50_2020.xlsx", sheet_name="Män")
df_female = pd.read_excel("/Users/luddecmc/Desktop/SKOLARBETE-ITHS/repos/AI24-Databehandling/Data/komtopp50_2020.xlsx", sheet_name="Kvinnor")

df_headers = ["rang 2020","rang 2019","kommun","folkmängd 2020","folkmängd 2019","förändring"]

def clean_data(data):    
    data.dropna(inplace=True)
    data.columns = df_headers

    # data.sort_values(by="folkmängd 2020", ascending=False, inplace=True)
    return data



df_total = clean_data(df_total)
df_female = clean_data(df_female)
df_male = clean_data(df_male)

In [266]:
df_male["Kön"] = "Man"
df_male.head()

,rang 2020,rang 2019,kommun,folkmängd 2020,folkmängd 2019,förändring,Kön
6,81,83.0,Ale,16256,16054.0,1.258253,Man
7,64,64.0,Alingsås,20702,20646.0,0.271239,Man
8,122,123.0,Alvesta,10367,10339.0,0.270819,Man
9,255,255.0,Aneby,3503,3498.0,0.142939,Man
10,169,168.0,Arboga,7094,7114.0,-0.281136,Man

In [267]:
df_female["Kön"] = "Kvinna"
df_female.head()

,rang 2020,rang 2019,kommun,folkmängd 2020,folkmängd 2019,förändring,Kön
6,84,85.0,Ale,15612,15348.0,1.720094,Kvinna
7,64,64.0,Alingsås,20900,20774.0,0.606527,Kvinna
8,123,123.0,Alvesta,9857,9795.0,0.632976,Kvinna
9,255,255.0,Aneby,3318,3350.0,-0.955224,Kvinna
10,165,164.0,Arboga,6945,6973.0,-0.401549,Kvinna

In [273]:
df_merged_genders = pd.concat([df_male,df_female], axis=0, ignore_index=True)
df_merged_genders.drop(columns=["rang 2020", "rang 2019"], inplace=True)
# df_merged_genders.set_index("kommun", inplace=True)
df_merged_genders

           kommun folkmängd 2020  folkmängd 2019 förändring     Kön
0             Ale          16256         16054.0   1.258253     Man
1        Alingsås          20702         20646.0   0.271239     Man
2         Alvesta          10367         10339.0   0.270819     Man
3           Aneby           3503          3498.0   0.142939     Man
4          Arboga           7094          7114.0  -0.281136     Man
..            ...            ...             ...        ...     ...
575     Österåker          22997         22442.0   2.473042  Kvinna
576     Östhammar          10846         10803.0   0.398038  Kvinna
577  Östra Göinge           7270          7262.0   0.110162  Kvinna
578     Överkalix           1559          1578.0  -1.204056  Kvinna
579    Övertorneå           2027          2065.0  -1.840194  Kvinna

[580 rows x 5 columns]

In [269]:
df_total = df_total.drop(columns=["rang 2020", "rang 2019"])

In [270]:

df_total = df_total.rename(columns = {"folkmängd 2020": "total pop 2020", "folkmängd 2019": "total pop 2019", "förändring": "total förändring"})
df_total

           kommun total pop 2020  total pop 2019 total förändring
6             Ale          31868         31402.0         1.483982
7        Alingsås          41602         41420.0         0.439401
8         Alvesta          20224         20134.0         0.447005
9           Aneby           6821          6848.0        -0.394276
10         Arboga          14039         14087.0         -0.34074
..            ...            ...             ...              ...
291     Österåker          46644         45574.0          2.34783
292     Östhammar          22251         22250.0         0.004494
293  Östra Göinge          15017         15007.0         0.066636
294     Överkalix           3289          3315.0        -0.784314
295    Övertorneå           4217          4299.0         -1.90742

[290 rows x 4 columns]

In [275]:
df_merged_tot_gen = pd.merge(df_merged_genders,df_total)
df_merged_tot_gen = df_merged_tot_gen.sort_values(by="total pop 2020", ascending=False)

df_merged_tot_gen.reset_index(drop=True, inplace=True)

df_merged_tot_gen

,kommun,folkmängd 2020,folkmängd 2019,förändring,Kön,total pop 2020,total pop 2019,total förändring
0,Stockholm,482982,482220.0,0.158019,Man,975551,974073.0,0.151734
1,Stockholm,492569,491853.0,0.145572,Kvinna,975551,974073.0,0.151734
2,Göteborg,292505,290308.0,0.756782,Man,583056,579281.0,0.65167
3,Göteborg,290551,288973.0,0.546072,Kvinna,583056,579281.0,0.65167
4,Malmö,172538,170623.0,1.122357,Man,347949,344166.0,1.099179
...,...,...,...,...,...,...,...,...
575,Dorotea,1171,1195.0,-2.008368,Kvinna,2498,2551.0,-2.077617
576,Sorsele,1157,1170.0,-1.111111,Kvinna,2442,2489.0,-1.888309
577,Sorsele,1285,1319.0,-2.57771,Man,2442,2489.0,-1.888309
578,Bjurholm,1154,1159.0,-0.431406,Kvinna,2387,2408.0,-0.872093
579,Bjurholm,1233,1249.0,-1.281025,Man,2387,2408.0,-0.872093

In [278]:
def percentual_difference(A, B):
    per_dif = (A - B) / (A + B)
    return per_dif

0.9827266847145868